<h2><%= @organization.name %></h2>
<div class="link">
	<span>	
		<%= link_to 'Edit Organization', edit_user_organization_path( current_user, @organization ) %>
	</span>
</div>
		<%= button_to 'Destroy Organization', user_organization_path( @organization ), confirm: 'Are you sure?', method: :delete %>
<br /><br />
<h2 class='clear'>Projects</h2>
<% @organization.projects.each do |project| %>
	<%= link_to organization_project_path( @organization, project ) do %>
		<p><%= project.name %></p>
	<% end %>
<% end %>
<div class="link">
	<span>
		<%= link_to 'New Project', new_organization_project_path( @organization ) %>
	</span>
</div>